@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  padding: 1rem;
  min-height: 100vh;
}

label {
  margin-right: 4px;
}

@layer components {
  a {
    @apply text-blue-500 hover:underline;
  }

  button {
    @apply py-1 px-5 font-semibold rounded shadow-md hover:bg-blue-50 focus:outline-none;
  }

  input, select {
    @apply py-1 px-2 border rounded focus:outline-none;
  }
}